{% block body %}
    <h3>You did it! You registered!</h3>

    Hi {{ name }}! You're successfully registered.

    To confirm your registration, click on the link: <a href="{{ url }}">Confirm!</a>.

    Thanks!
{% endblock %}
