{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register:</h1>

    <form action="#" id="registration-form" method="post" enctype="multipart/form-data">
        <label class="sr-only">Email</label>
        <input type="text" name="email" class="form-control" placeholder="Email" required>

        <label class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>

        <label class="sr-only">First name</label>
        <input type="text" name="firstName" class="form-control" placeholder="First name" required>

        <label class="sr-only">Second name</label>
        <input type="text" name="secondName" class="form-control" placeholder="Second name" required>

        <label class="sr-only">Birth date</label>
        <input type="date" name="birthDate" class="form-control" required>

        <label class="sr-only">Agree terms</label>
        <input type="checkbox" name="agreeTerms" class="form-control" required>

        <button id="register" class="btn btn-success" type="submit">
            Register
        </button>
    </form>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('register') }}
{% endblock %}
