{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as: {{ app.user.username }},
            <a class="btn btn-sm btn-secondary" href="{{ path('logout') }}" role="button">
                Log out
            </a>
        </div>
    {% endif %}

    <br>
    Welcome to the Scrapper admin panel!
    <br>
    <br>
    Add new source:
    <br>
    <a class="btn btn-secondary" href="{{ url("add_new_http") }}" role="button">from url</a>
    <a class="btn btn-secondary" href="{{ url("add_new_file") }}" role="button">from file</a>
{% endblock %}
