{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form id="login-form" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as: {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in:</h1>
    <label class="sr-only">Email</label>
    <input type="email" value="{{ last_username }}" name="email" class="form-control" placeholder="Email" required autofocus>
    <label class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <br>
    <button id="login" class="btn btn-success" type="submit">
        Sign in
    </button>
    <a class="btn btn-secondary" href="{{ url("forgot_password") }}" role="button">Forgot password</a>
</form>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
