{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h6>Search in news titles:</h6>
    <div>
        <form action="" method="post">
            <input type="text" name="search">
            <input type="submit" id="submit-search" name="submit" value="Search">
        </form>
    </div>
    <br>
    <div id="news-list-field">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Title</th>
                    <th scope="col">Section</th>
                    <th scope="col">WWW</th>
                    <th scope="col">First found</th>
                    <th scope="col">Outdated</th>
                </tr>
            </thead>
            <tbody id="news-list-table-body">
            </tbody>
        </table>
    </div>
    <div id="pagination"></div>

    {% include 'web/news/templates.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('newsList') }}
{% endblock %}
