<script type="text/html" id="news-row">
    <tr class='active-news <%= recent %> <%= outdated %>'>
        <th scope='row'><%= ordinal_number %></th>
        <td><%= news_title %></td>
        <td><%= news.section.name %></td>
        <td><%= news.section.source.path %></td>
{#        TODO: displaying the date and time according to the user's time zone#}
        <td><%= news.created_at %></td>
        <td><%= news.outdated %></td>
        </tr>
</script>

<script type="text/html" id="news-tooltip">
    <span data-toggle='tooltip' data-placement='top' title='<%= title %>'><%= title.substr(0, 80) %>...</span>
</script>
