{% extends 'base.html.twig' %}

{% block body %}
    <h3>You want to change your password?</h3>

    <form action="#" id="change-password-form" method="post" enctype="multipart/form-data">

        Enter your old password:

        <label class="sr-only">Old password</label>
        <input type="password" name="oldPassword" class="form-control" placeholder="Old password" required>

        Enter your new password:

        <label class="sr-only">New password</label>
        <input type="password" name="newPassword" class="form-control" placeholder="New password" required>

        Confirm your password:

        <label class="sr-only">Confirm password</label>
        <input type="password" name="confirmNewPassword" class="form-control" placeholder="Confirm password" required>

        <br>
        <button id="change-password" class="btn btn-success" type="submit">
            Set new password
        </button>
    </form>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('changePassword') }}
{% endblock %}
