{% extends 'base.html.twig' %}

{% block body %}
    <h3>Have you forgotten your password?</h3>

    Enter your login below and you will receive an email with a link to reset your password:

    <form action="#" id="forgot-password-form" method="post" enctype="multipart/form-data">
        <label class="sr-only">Email</label>
        <input id="email" type="email" name="email" class="form-control" placeholder="Email" required>

        <br>
        <button id="reset-password" class="btn btn-success" type="submit">
            Reset password
        </button>
    </form>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('forgotPassword') }}
{% endblock %}
