{% block body %}
    <h3>Have you forgotten your password?</h3>

    Hi {{ name }}!

    To reset your password, click on the link: <a href="{{ url }}">Reset password!</a>.

    Thanks!
{% endblock %}
