{% extends 'base.html.twig' %}

{% block body %}
    <h3>Have you forgotten your password?</h3>

    <form action="#" id="reset-password-form" method="post" enctype="multipart/form-data">
        Enter your password below to set your new password:
        <label class="sr-only">Password</label>
        <input type="password" name="newPassword" class="form-control" placeholder="Password" required>

        Confirm your password:
        <label class="sr-only">Confirm password</label>
        <input type="password" name="confirmNewPassword" class="form-control" placeholder="Confirm password" required>

        <br>
        <button id="set-new-password" class="btn btn-success" type="submit">
            Set new password
        </button>
    </form>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('resetPassword') }}
{% endblock %}
