.actualPage {
    background-color: #777777;
    font-weight: bold;
}

.recent-news {
    background-color: rgba(212, 226, 209, 0.8) !important;
}

.outdated-news {
    background-color: rgba(224, 209, 209, 0.8) !important;
}

.news-stats {
    width: 140px;
}

.active-source {
    background-color: rgba(212, 226, 209, 0.8) !important;
}
