{% extends 'base.html.twig' %}

{% block body %}
    <br>
    Author: <b>Marta Smoczyńska</b>
    <br>
    mobile: <a href="tel:+48727904613">+48 727-904-613</a>
    <br>
    e-mail: <a href="mailto:kontakt@martasmoczynska.pl">kontakt@martasmoczynska.pl</a>
    <br>
    LinkedIn: <a href="https://www.linkedin.com/in/martasmoczynska/">Marta Smoczyńska</a>
    <br>
    ___________________________________
    <br>
    Scrapper on gitlab: <a href="https://gitlab.com/msmoczynska/scrapper">Scrapper</a>
{% endblock %}