{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h6>Add new file to the scrapper:</h6>
    <form action="#" id="add-file-form" method="post" enctype="multipart/form-data">
        <label for="file">Load file: </label>
        <input type="file" id="file-form-load" class="form-control-file" name="file">
        <br>
        <div id="new-section-name-field"></div>
        <button id="add-new-section" class="btn btn-secondary">Add another section</button>
        <br>
        <br>
        <input type="submit" id="file-form-save" class="btn btn-success" name="save" value="Save" role="button">
    </form>

    {% include 'web/source/templates.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('addFile') }}
{% endblock %}
