{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h6>Add new www to the scrapper:</h6>
    <form action="#" id="add-http-form" method="post" enctype="multipart/form-data">
        <label for="path">Enter url: </label>
        <input type="text" id="http-form-path" class="form-control" name="path">
        <br>
        <div id="new-section-name-field"></div>
        <button id="add-new-section" class="btn btn-secondary">Add another section</button>
        <br>
        <br>
        <input type="submit" id="http-form-save" class="btn btn-success" name="save" value="Save" role="button">
    </form>

    {% include 'web/source/templates.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('addHttp') }}
{% endblock %}
