{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h6>Please choose the way below and add a new source:</h6>
    <a class="btn btn-secondary" href="{{ url("add_new_http") }}" role="button">from url</a>
    <a class="btn btn-secondary" href="{{ url("add_new_file") }}" role="button">from file</a>

{% endblock %}
