{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h6>Search in source titles:</h6>
    <div>
        <form action="" method="post">
            <input type="text" name="search">
            <input type="submit" id="submit-search" name="submit" value="Search">
        </form>
    </div>
    <br>
    <div>
        <a class="btn btn-info" href="{{ url("add_new_source") }}" role="button">Add new source</a>
        <a class="btn btn-secondary" href="{{ url("source_export", {format: 'xlsx', type: 'source'}) }}" role="button">Export to Excel</a>
        <a class="btn btn-secondary" href="{{ url("source_export", {format: 'csv', type: 'source'}) }}" role="button">Export to CSV</a>
    </div>
    <br>
    <div id="source-list-field">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">WWW</th>
                <th scope="col">Section</th>
                <th scope="col">Days since in the system:</th>
                <th scope="col">Recent news</th>
                <th scope="col">Active news</th>
                <th scope="col">Outdated news</th>
                <th scope="col">All news</th>
            </tr>
            </thead>
            <tbody id="source-list-table-body">
            </tbody>
        </table>
    </div>
    <div id="pagination"></div>

    {% include 'web/source/templates.html.twig' %}
{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('sourceList') }}
{% endblock %}
