<script type="text/template" id="section-field">
    <div>
        <label>Enter section name: </label>
        <input class="form-control" type='text' name='sectionName[<%= index %>]'>
        <br>
        <label>Enter a regular expression for the section: </label>
        <input class="form-control" type='text' name='regex[<%= index %>]'>
    </div>
    <br>
</script>

<script type="text/html" id="source-row">
    <tr class='active-source'>
        <th scope='row'><%= ordinal_number %></th>
        <td><%= source_path %></td>
        <td></td>
        <td class='news-stats'><%= source.days_since_in_the_system %></td>
        <td class='news-stats'><%= source.recent_news_count %></td>
        <td class='news-stats'><%= source.active_news_count %></td>
        <td class='news-stats'><%= source.outdated_news_count %></td>
        <td class='news-stats'><%= source.all_news_count %></td>
        </tr>
</script>

<script type="text/html" id="section-row">
    <tr class='active-section'>
        <td></td>
        <td></td>
        <td><%= section.name %></td>
        <td class='news-stats'><%= section.days_since_in_the_system %></td>
        <td class='news-stats'><%= section.recent_news_count %></td>
        <td class='news-stats'><%= section.active_news_count %></td>
        <td class='news-stats'><%= section.outdated_news_count %></td>
        <td class='news-stats'><%= section.all_news_count %></td>
        </tr>
</script>

<script type="text/html" id="source-tooltip">
    "<span data-toggle='tooltip' data-placement='top' path='<%= path %>'><%= path.substr(0, 80) %>...</span>"
</script>
