{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as: {{ app.user.username }},
            <a class="btn btn-sm btn-secondary" href="{{ path('logout') }}" role="button">
                Log out
            </a>
        </div>
    {% endif %}

    <br>
    Hello ;)
    <br>
    <br>
    You just logged in! Welcome to the home page!
    <br>
    <br>
    Now you can use the admin panel here:
    <a class="btn btn-sm btn-secondary" href="{{ url("admin_panel") }}" role="button">Admin panel</a>

{% endblock %}
