{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h6>Hello in SCRAPPER :) Please use the menu above ;)</h6>
    <br>
    <a class="btn btn-secondary" href="{{ url("register") }}" role="button">Register</a>
    <a class="btn btn-secondary" href="{{ url("login") }}" role="button">Sign in</a>
{% endblock %}
